/* GLOBAL */
body { cursor:default; }
table { border-collapse:collapse; padding:0; margin:0; }
* { font:menu; font-size:13px; }

/* OPTIONS PAGE */
body#optionsPageBody { margin:20px; background-color:#d1d1d1; }
#header center { color:#808080; }
div#header { margin-bottom:17px; padding:0 30px 10px 30px; border-bottom:2px solid #f46320; }
body#optionsPageBody center { font-size:90%; }
body#optionsPageBody * { font-size:12px; }
body#optionsPageBody td { padding:5px; }
body#optionsPageBody h1 { padding:0; margin:0 0 10px 0; font:menu; font-weight:bold; letter-spacing:0px; font-size:20px; line-height:20px; }
body#optionsPageBody div#mainContent { padding:20px 20px 5px 20px; background-color:#fff; border-radius:7px; box-shadow:0px 1px 5px rgba(0,0,0,.35); display:inline-block; margin:0 auto; white-space:nowrap; }
body#optionsPageBody div#footer { padding:20px; max-width:800px; margin:0 auto; color:#919191; font-size:90%; text-shadow:0 1px 0 #e4e4e4; }
body#optionsPageBody input[type='text'], body#optionsPageBody input[type='password'] { width: 150px; }
body#optionsPageBody input[type='submit'] { padding:2px 12px 3px 12px; }
body#optionsPageBody td.buttonCell { text-align:right; }

div#allset { display:none; position:absolute; top:0; left:100%; background-color:#fffeee; padding:15px; white-space:nowrap; border-radius:5px; margin:5px; border:1px solid #edcf59; box-shadow:2px 2px 2px rgba(0,0,0,.35); }


/* BROWSER ACTION POP-UP PAGE */
body#browserActionPopupBody a:focus { outline: none; }
body#browserActionPopupBody a#snapLogo { padding-right:2px; }
body#browserActionPopupBody { background-color:#fff; }
body#browserActionPopupBody td { white-space:nowrap; font-size:12px; vertical-align:top; }
body#browserActionPopupBody tr td:first-child { padding-right:10px; }
body#browserActionPopupBody tr td:first-child + td { text-align:right; }
body#browserActionPopupBody td#planName { font-weight:bold; }
body#browserActionPopupBody td#planName a { color:inherit; font-weight:bold; font-size:13px; text-decoration:none; }
body#browserActionPopupBody td#planName a:hover { cursor:pointer; text-decoration:underline; }
body#browserActionPopupBody td#lastUpdated { color:#919191; }
body#browserActionPopupBody td#update img { height:12px; width:12px; cursor:pointer; opacity:.6; padding:5px; margin:-3px -5px -2px 0; }
body#browserActionPopupBody td#update img:hover { opacity:1; }
body#browserActionPopupBody tr.addWhiteSpaceBelow td { padding-bottom:7px; }
.tooltip, div, span, strong, a, form { font-size:inherit; }
a { color:inherit; text-decoration:none; font-weight:inherit; }
a:hover { text-decoration:underline; }
div.networkStatusTitle { font-weight:bold; }
.tooltip:hover { cursor:help; border-bottom:1px dotted #999; }
body#browserActionPopupBody tr td#networkStatus { padding-right:0; }
body#browserActionPopupBody tr td#networkStatus > div { border:1px solid #f1d0af; border-radius:3px; padding:7px; background-color:#fffbf5; font-size:11px; line-height:20px; }
body#browserActionPopupBody tr td#networkStatus a { line-height:18px; }
img#dismiss { float:right; width:18px; cursor:pointer; margin:-4px -4px 0 0; opacity:.5; display:none; }
img#dismiss:hover { opacity:1; }
td#networkStatus:hover img#dismiss { display:inline; }
td#networkStatus.networkIsNotOkay { text-align:center; }

tr.offpeakData { display:none; }

/* PERCENTAGE PROGRESS BAR */
#percentageBar { height:12px; border-radius:2px; cursor:help; overflow:hidden; position:relative; margin-top:1px;
	box-shadow:
		inset 0 0 0 1px rgba(0,0,0,.2), 				/* border */
		inset 0 2px rgba(255,255,255,.2),				/* top white inner line */
		inset 0 -7px 8px -4px rgba(255,255,255,.5),		/* bottom-half white shading */
		inset 0 6px rgba(255,255,255,.4);				/* top-half white shading */
}
#percentageBar.green { background-color:#04ba00; }
#percentageBar.orange { background-color:#ff6600; }
#percentageBar.red { background-color:#cc0000; }
img#notch { opacity:.9; position:absolute; z-index:20; }

#unfilledPortion { height:12px; float:right; position:relative; z-index:10;
	background:-webkit-gradient(linear, left top, left bottom, from(rgb(233,233,233)), to(rgb(234,234,234)));
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.2), inset 1px 2px 2px rgba(0,0,0,.13);
	border-radius:0 2px 2px 0;
}
#unfilledPortion.full { border-radius:2px; width:100%; }